.Rproj.user
.Rhistory
Read-and-delete-me
data/umpra.RData
inst/doc
data/u_deepsea_cond_prior.RData
data/nm.4219-S2.xlsx
R/crispr_exploration.R
R/crispr_model_testing.R
data/41467_2018_7901_MOESM4_ESM.xlsx
doc
Meta
